<div class="home-container">
    <div class="home-content">
        <h2>home works!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores praesentium dicta suscipit voluptatem debitis. Excepturi illum tenetur veritatis praesentium asperiores aut possimus hic. Facilis excepturi molestias repellendus perspiciatis hic quasi inventore quas ratione dicta commodi ipsa magnam dolores, expedita illo! Quam itaque expedita quos veritatis, placeat perferendis officia cumque, corrupti ipsa facilis hic nostrum possimus eaque dignissimos architecto deserunt animi temporibus dolor repellendus reprehenderit dolorum doloribus qui. Aliquam incidunt ratione earum dolore commodi delectus, omnis eum, atque totam amet ipsa unde laudantium autem quibusdam similique nulla aspernatur nostrum fugit aut quasi velit tempore consectetur quo saepe. Laudantium temporibus quisquam iusto?</p>
    </div>
</div>