body {
    margin: 0;
    padding: 0;
}

.app-header {
    height: 4rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 0 2px 1px #949494;
}

.app-content {
    margin: 2rem;
}

.app-footer {
    height: 4rem;
    background-color: #949494;
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}