<div class="setting-profile-container">
    <div class="setting-profile-container">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi exercitationem error voluptatibus quae distinctio aliquid laudantium nostrum quaerat dolore expedita dolorum animi modi, enim nemo officiis provident in numquam nam et reiciendis laboriosam vero molestiae excepturi. Exercitationem molestias ab et sunt labore, autem vero quo odio iure eaque. Amet aperiam quam modi quis quod! Eos ad nisi repellendus nostrum omnis necessitatibus facere reprehenderit vero nihil itaque in, sed quae qui perspiciatis consequuntur a non neque iure! Ea deserunt quis nisi ratione esse itaque, velit perferendis ex? Ut dignissimos provident quaerat cupiditate aliquam. Non fugit saepe eum nulla architecto, perferendis optio!
        </p>
    </div>
</div>
